form {
  max-width: 30em;
}

#sarjat {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}

#jasenet div {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}

#jNimi {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}

#sarjaNimi {
  display: flex;
  flex-direction: column;
}